body {
  font-family: Arial, sans-serif;
  color: #fff;
  background: #0b0b0b;
  padding: 5px;
  height: 96vh;
  display: flex;
  flex-direction: column;
}
header h1 {
  font-size: 1.5rem;
  color: #4CAF50;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  background-color: #333;
  border-bottom: 4px solid #222;
  box-shadow: 0 2px 10px rgba(255,255,255,0.2);
}
#chat-container {
  background: #000000;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
#send-container,
#manage-container,
.button-group {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message-container:hover .button-group {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.button-group {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
#chat {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #222222;
  padding: 10px;
}
.message {
  max-width: 80%;
  margin-bottom: 5px;
  padding: 0 8px;
  border-radius: 4px;
  background-color: #1f1f1f;
  display: inline-block;
}
.message.user {
  background-color: #0e292e;
}
.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.message-container.user {
  align-items: flex-end;
}
.message-container.model {
  align-items: flex-start;
}
button.copy-msg-btn,
button.delete-msg-btn {
  color: #fff;
  padding: 5px 10px;
  background-color: #151515;
  border-radius: 4px;
  font-size: 0.8em;
  border: 1px solid #212128;
}
input, button#send, button#clear, #userInput, button#toggle-manage {
  color: #fff;
  background: #151515;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #222222;
}
#apiKeyInput {
  background: #010101;
  width: calc(100% - 22px);
}
#userInput {
  min-height: 20px;
  max-height: 120px;
  background: #010101;
  width: calc(100% - 110px);
  display: inline-block;
  vertical-align: top;
  resize: none;
}
#send {
  width: 80px;
  display: inline-block;
}
#toggle-manage {
  width: 40px;
  display: inline-block;
}
#loading {
  display: none;
  margin-left: 10px;
  align-self: center;
}
    pre code {
      display: block;
      padding: 10px;
      margin: 0 0 10px;
      overflow: auto;
      font-family: monospace;
      font-size: 0.9em;
      background-color: #080808;
      border: 1px solid #17171e;
      border-radius: 4px;
    }
    code {
      padding: 2px 4px;
      font-family: monospace;
      font-size: 0.9em;
      background-color: #080808;
      border: 1px solid #17171e;
      border-radius: 4px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }
    table th,
    table td {
      padding: 8px;
      text-align: left;
      border: 1px solid #000000;
    }
    table thead th {
      background-color: #0a0a0a;
    }
    blockquote {
      padding: 10px 20px;
      margin: 0 0 10px;
      background-color: #0a0a0a;
      border-left: 4px solid #1a1d20;
      font-style: italic;
    }
.hidden {
    display: none!important;
}
